body {
    text-align: center;
    background-color: #f9f2f4;
}

#container {
    background-color: white;
    height: 600px;
    width: 600px;
    margin: 20px auto;
    border: 1px dashed black;
}

.tile {
    width: 30px;
    height: 30px;
    float: left;
}

.btn {
    color: white;
    font-size: large;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
}

#rows {
    color: black;
}

#new {
    background-color: green;
}

#clear {
    background-color: red;
}